*.class

#package file

*.war

*ear

#kdiff3 ignore
/data_solve/
data_solve/
*.idea

venv/

*.orig

#maven ignore

target/

#eclipse ignore

.settings/

.project

.classpatch

#idea

.idea/

/idea/

*.ipr

*.iml

*.iws

#temp file

*.log

*.cache

*.diff

*.patch

*.tmp

# system ignore

.DS_Store

Thumbs.db

dist
tests
chinese_permanent_calendar.egg-info
build